<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />

<link href="#" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<title>NUEVO DONANTE</title>
</head>
<body>

 <div class="col-md-3">
 </div>
 <div class="col-md-6">
	<form class="form-horizontal" action="#" th:action="@{/registrar/addDonante}"  method="post">
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" placeholder="Nombre" th:field="*{donante.nombredonante}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Usuario</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" placeholder="Usuario"	th:field="*{donante.userdonante}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" placeholder="Password"	th:field="*{donante.passdonante}">
			</div>
		</div>
	
		
		<select class="form-control" name="idGrupoSanguineo" >
			<option value="1">A+</option>
			<option value="2">A-</option>
			<option value="3">B+</option>
			<option value="4">B-</option>
			<option value="5">O+</option>
			<option value="6">O-</option>
			<option value="7">AB+</option>
			<option value="8">AB-</option>
			

		</select>
		<select class="form-control" name="idDepartamento" >
			<option th:each="departamentoModel : ${listaDepartamentos}"
			
			th:value="${departamentoModel.iddepartamento}"
						
			th:text="${departamentoModel.nombredepartamento}"
			/>
		</select>
		
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Sign in</button>
			</div>
			
		</div>


	</form>
	</div>


 <div class="col-md-3">
 </div>


	<script src="/bootstrap-3.3.7/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>